In [50]:
import pandas as pd
import altair as alt
import numpy as np

In [51]:
data = pd.read_csv('https://data.seattle.gov/resource/tazs-3rd5.csv?$query=SELECT%0A%20%20%60report_number%60%2C%0A%20%20%60offense_id%60%2C%0A%20%20%60offense_start_datetime%60%2C%0A%20%20%60offense_end_datetime%60%2C%0A%20%20%60report_datetime%60%2C%0A%20%20%60group_a_b%60%2C%0A%20%20%60crime_against_category%60%2C%0A%20%20%60offense_parent_group%60%2C%0A%20%20%60offense%60%2C%0A%20%20%60offense_code%60%2C%0A%20%20%60precinct%60%2C%0A%20%20%60sector%60%2C%0A%20%20%60beat%60%2C%0A%20%20%60mcpp%60%2C%0A%20%20%60_100_block_address%60%2C%0A%20%20%60longitude%60%2C%0A%20%20%60latitude%60%0AWHERE%0A%20%20%60report_datetime%60%0A%20%20%20%20BETWEEN%20%222018-05-31T15%3A24%3A00%22%20%3A%3A%20floating_timestamp%0A%20%20%20%20AND%20%222023-05-31T15%3A24%3A00%22%20%3A%3A%20floating_timestamp')

In [52]:
data = pd.read_csv('https://data.seattle.gov/resource/tazs-3rd5.csv?$query=SELECT%0A%20%20%60report_number%60%2C%0A%20%20%60offense_id%60%2C%0A%20%20%60offense_start_datetime%60%2C%0A%20%20%60offense_end_datetime%60%2C%0A%20%20%60report_datetime%60%2C%0A%20%20%60group_a_b%60%2C%0A%20%20%60crime_against_category%60%2C%0A%20%20%60offense_parent_group%60%2C%0A%20%20%60offense%60%2C%0A%20%20%60offense_code%60%2C%0A%20%20%60precinct%60%2C%0A%20%20%60sector%60%2C%0A%20%20%60beat%60%2C%0A%20%20%60mcpp%60%2C%0A%20%20%60_100_block_address%60%2C%0A%20%20%60longitude%60%2C%0A%20%20%60latitude%60%0AWHERE%0A%20%20%60report_datetime%60%0A%20%20%20%20BETWEEN%20%222018-05-31T15%3A44%3A18%22%20%3A%3A%20floating_timestamp%0A%20%20%20%20AND%20%222023-05-31T15%3A44%3A18%22%20%3A%3A%20floating_timestamp')
data = pd.read_csv('https://data.seattle.gov/resource/tazs-3rd5.csv?$query=SELECT%0A%20%20%60report_number%60%2C%0A%20%20%60offense_id%60%2C%0A%20%20%60offense_start_datetime%60%2C%0A%20%20%60offense_end_datetime%60%2C%0A%20%20%60report_datetime%60%2C%0A%20%20%60group_a_b%60%2C%0A%20%20%60crime_against_category%60%2C%0A%20%20%60offense_parent_group%60%2C%0A%20%20%60offense%60%2C%0A%20%20%60offense_code%60%2C%0A%20%20%60precinct%60%2C%0A%20%20%60sector%60%2C%0A%20%20%60beat%60%2C%0A%20%20%60mcpp%60%2C%0A%20%20%60_100_block_address%60%2C%0A%20%20%60longitude%60%2C%0A%20%20%60latitude%60%0AWHERE%0A%20%20%60report_datetime%60%0A%20%20%20%20BETWEEN%20%222018-05-31T15%3A44%3A18%22%20%3A%3A%20floating_timestamp%0A%20%20%20%20AND%20%222023-05-31T15%3A44%3A18%22%20%3A%3A%20floating_timestamp', parse_dates = True, low_memory = False)

In [53]:
import pandas as pd
import urllib.parse

# Initialize an empty list to store the retrieved data
data_list = []
base_url = 'https://data.seattle.gov/resource/tazs-3rd5.csv'

# Set the number of rows to retrieve in each request
limit = 50000  # Adjust this value according to your needs

# Set the initial offset
offset = 0

# Make a request loop until all the data is fetched
while True:
    # Construct the API query URL with the appropriate offset and limit
    query = f"SELECT * LIMIT {limit} OFFSET {offset}"
    encoded_query = urllib.parse.quote(query)
    query_url = f"{base_url}?$query={encoded_query}"

    # Fetch the data and append it to the data_list
    response = pd.read_csv(query_url, parse_dates=True, low_memory=False)
    data_list.append(response)

    # Check if the retrieved data has the maximum number of rows (limit)
    if len(response) < limit:
        break

    # Increment the offset for the next request
    offset += limit

# Concatenate all the retrieved data into a single DataFrame
data = pd.concat(data_list, ignore_index=True)

# Now you have the complete dataset in the 'data' variable

In [54]:
data.head()

,report_number,offense_id,offense_start_datetime,offense_end_datetime,report_datetime,group_a_b,crime_against_category,offense_parent_group,offense,offense_code,precinct,sector,beat,mcpp,_100_block_address,longitude,latitude
0,2020-044620,12605873663,2020-02-05T10:10:00.000,NaN,2020-02-05T11:24:31.000,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,2020-02-03T08:00:00.000,2020-02-04T08:00:00.000,2020-02-05T10:06:28.000,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,2020-02-02T20:30:00.000,2020-02-02T21:30:00.000,2020-02-05T09:39:33.000,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,2020-02-05T01:17:00.000,2020-02-05T02:21:00.000,2020-02-05T03:30:55.000,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,2020-02-05T00:51:21.000,NaN,2020-02-05T00:51:31.000,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1053517 entries, 0 to 1053516
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   report_number           1053517 non-null  object
 1   offense_id              1053517 non-null  int64
 2   offense_start_datetime  1052185 non-null  object
 3   offense_end_datetime    595319 non-null   object
 4   report_datetime         1053517 non-null  object
 5   group_a_b               1053517 non-null  object
 6   crime_against_category  1053517 non-null  object
 7   offense_parent_group    1053517 non-null  object
 8   offense                 1053517 non-null  object
 9   offense_code            1053517 non-null  object
 10  precinct                1053511 non-null  object
 11  sector                  1053513 non-null  object
 12  beat                    1053513 non-null  object
 13  mcpp                    1053515 non-null  object
 14  _100_block_address      1008167 non-null  object
 15  longitude               1053517 non-null  float64
 16  latitude                1053517 non-null  float64
dtypes: float64(2), int64(1), object(14)
memory usage: 136.6+ MB

In [56]:
data[['report_datetime', 'offense_start_datetime']] = data[['report_datetime', 'offense_start_datetime']].astype('datetime64')

In [57]:
data = data.dropna(subset=['mcpp'])

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1053515 entries, 0 to 1053516
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   report_number           1053515 non-null  object
 1   offense_id              1053515 non-null  int64
 2   offense_start_datetime  1052183 non-null  datetime64[ns]
 3   offense_end_datetime    595318 non-null   object
 4   report_datetime         1053515 non-null  datetime64[ns]
 5   group_a_b               1053515 non-null  object
 6   crime_against_category  1053515 non-null  object
 7   offense_parent_group    1053515 non-null  object
 8   offense                 1053515 non-null  object
 9   offense_code            1053515 non-null  object
 10  precinct                1053511 non-null  object
 11  sector                  1053513 non-null  object
 12  beat                    1053513 non-null  object
 13  mcpp                    1053515 non-null  object
 14  _100_block_address      1008167 non-null  object
 15  longitude               1053515 non-null  float64
 16  latitude                1053515 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(12)
memory usage: 144.7+ MB

In [59]:
data['report_year'] = data['report_datetime'].dt.year
data['report_month'] = data['report_datetime'].dt.month
data['report_day'] = data['report_datetime'].dt.day

In [60]:
data.head()

,report_number,offense_id,offense_start_datetime,offense_end_datetime,report_datetime,group_a_b,crime_against_category,offense_parent_group,offense,offense_code,precinct,sector,beat,mcpp,_100_block_address,longitude,latitude,report_year,report_month,report_day
0,2020-044620,12605873663,2020-02-05 10:10:00,NaN,2020-02-05 11:24:31,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387,2020,2,5
1,2020-044452,12605598696,2020-02-03 08:00:00,2020-02-04T08:00:00.000,2020-02-05 10:06:28,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118,2020,2,5
2,2020-044465,12605567653,2020-02-02 20:30:00,2020-02-02T21:30:00.000,2020-02-05 09:39:33,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384,2020,2,5
3,2020-044225,12605174036,2020-02-05 01:17:00,2020-02-05T02:21:00.000,2020-02-05 03:30:55,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927,2020,2,5
4,2020-044076,12605081469,2020-02-05 00:51:21,NaN,2020-02-05 00:51:31,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193,2020,2,5

In [75]:
checkoutSumByMCPP = data.groupby(['mcpp','report_year','report_month','report_day'])['offense'].count().to_frame()

In [78]:
checkoutSumByMCPP = checkoutSumByMCPP.reset_index()

In [79]:
checkoutSumByMCPP.head()

              mcpp  report_year  report_month  report_day  offense
0           <Null>         2022             6          21        1
1  ALASKA JUNCTION         2008             1           1        1
2  ALASKA JUNCTION         2008             1           2        3
3  ALASKA JUNCTION         2008             1           3        1
4  ALASKA JUNCTION         2008             1           4        1

In [80]:
checkoutSumByMCPP.mcpp.unique()

array(['<Null>', 'ALASKA JUNCTION', 'ALKI', 'BALLARD NORTH',
       'BALLARD SOUTH', 'BELLTOWN', 'BITTERLAKE', 'BRIGHTON/DUNLAP',
       'CAPITOL HILL', 'CAPTIOL HILL', 'CENTRAL AREA/SQUIRE PARK',
       'CHINATOWN/INTERNATIONAL DISTRICT', 'CLAREMONT/RAINIER VISTA',
       'COLUMBIA CITY', 'COMMERCIAL DUWAMISH', 'COMMERCIAL HARBOR ISLAND',
       'DOWNTOWN COMMERCIAL', 'EASTLAKE - EAST', 'EASTLAKE - WEST',
       'FAUNTLEROY SW', 'FIRST HILL', 'FREMONT', 'GENESEE', 'GEORGETOWN',
       'GREENWOOD', 'HIGH POINT', 'HIGHLAND PARK', 'HILLMAN CITY',
       'JUDKINS PARK/NORTH BEACON HILL', 'LAKECITY',
       'LAKEWOOD/SEWARD PARK', 'MADISON PARK', 'MADRONA/LESCHI',
       'MAGNOLIA', 'MID BEACON HILL', 'MILLER PARK',
       'MONTLAKE/PORTAGE BAY', 'MORGAN', 'MOUNT BAKER', 'NEW HOLLY',
       'NORTH ADMIRAL', 'NORTH BEACON HILL', 'NORTH DELRIDGE',
       'NORTHGATE', 'PHINNEY RIDGE', 'PIGEON POINT', 'PIONEER SQUARE',
       'QUEEN ANNE', 'RAINIER BEACH', 'RAINIER VIEW', 'ROOSEVELT/RAVENNA',
       'ROXHILL/WESTWOOD/ARBOR HEIGHTS', 'SANDPOINT', 'SLU/CASCADE',
       'SODO', 'SOUTH BEACON HILL', 'SOUTH DELRIDGE', 'SOUTH PARK',
       'UNIVERSITY', 'UNKNOWN', 'WALLINGFORD'], dtype=object)

In [81]:
mcpp_dump = ['<Null>','UNKOWN']
filtered_mcpp = np.logical_and(checkoutSumByMCPP.mcpp != '<Null>', checkoutSumByMCPP.mcpp != 'UNKWON')

In [82]:
checkoutSumByMCPP= checkoutSumByMCPP[filtered_mcpp]

In [83]:
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [84]:
checkoutSumByMCPP = checkoutSumByMCPP.reset_index()

In [85]:
checkoutSumByMCPP.columns

Index(['index', 'mcpp', 'report_year', 'report_month', 'report_day',
       'offense'],
      dtype='object')

In [86]:
checkoutSumByMCPP[['report_year','report_month','report_day']]

        report_year  report_month  report_day
0              2008             1           1
1              2008             1           2
2              2008             1           3
3              2008             1           4
4              2008             1           5
...             ...           ...         ...
253890         2023             5          28
253891         2023             5          29
253892         2023             5          30
253893         2023             5          31
253894         2023             6           1

[253895 rows x 3 columns]

In [87]:
checkoutSumByMCPP.groupby('mcpp')['offense'].count().sort_values(ascending = False)

mcpp
DOWNTOWN COMMERCIAL                 5631
QUEEN ANNE                          5628
CAPITOL HILL                        5628
NORTHGATE                           5627
SLU/CASCADE                         5624
UNIVERSITY                          5609
ROOSEVELT/RAVENNA                   5592
BALLARD SOUTH                       5586
FIRST HILL                          5580
LAKECITY                            5560
BELLTOWN                            5535
CHINATOWN/INTERNATIONAL DISTRICT    5529
CENTRAL AREA/SQUIRE PARK            5515
GREENWOOD                           5435
BALLARD NORTH                       5391
SANDPOINT                           5360
BITTERLAKE                          5355
NORTH BEACON HILL                   5290
FREMONT                             5290
WALLINGFORD                         5269
SODO                                5173
PIONEER SQUARE                      5168
ROXHILL/WESTWOOD/ARBOR HEIGHTS      5140
MAGNOLIA                            5087
BRIGHTON/DUNLAP                     5011
MOUNT BAKER                         5004
ALASKA JUNCTION                     4991
GEORGETOWN                          4870
MADRONA/LESCHI                      4846
HIGHLAND PARK                       4674
RAINIER BEACH                       4629
MID BEACON HILL                     4624
NORTH ADMIRAL                       4391
RAINIER VIEW                        4375
MORGAN                              4241
HIGH POINT                          4191
JUDKINS PARK/NORTH BEACON HILL      4181
SOUTH PARK                          4121
PHINNEY RIDGE                       4078
NORTH DELRIDGE                      3983
UNKNOWN                             3781
COLUMBIA CITY                       3717
MILLER PARK                         3685
MONTLAKE/PORTAGE BAY                3621
EASTLAKE - WEST                     3579
NEW HOLLY                           3558
CLAREMONT/RAINIER VISTA             3430
LAKEWOOD/SEWARD PARK                3249
ALKI                                3146
HILLMAN CITY                        3101
SOUTH BEACON HILL                   2866
FAUNTLEROY SW                       2785
SOUTH DELRIDGE                      2731
MADISON PARK                        2357
GENESEE                             2207
EASTLAKE - EAST                     1281
PIGEON POINT                        1044
COMMERCIAL DUWAMISH                  604
COMMERCIAL HARBOR ISLAND             340
CAPTIOL HILL                           1
Name: offense, dtype: int64

In [88]:
date_dictionary = {'year':checkoutSumByMCPP['report_year'], 'month':checkoutSumByMCPP['report_month'],'day':checkoutSumByMCPP['report_day']}
checkoutSumByMCPP['date'] = pd.to_datetime(date_dictionary)

In [89]:
checkoutSumByMCPP.head()

,index,mcpp,report_year,report_month,report_day,offense,date
0,1,ALASKA JUNCTION,2008,1,1,1,2008-01-01
1,2,ALASKA JUNCTION,2008,1,2,3,2008-01-02
2,3,ALASKA JUNCTION,2008,1,3,1,2008-01-03
3,4,ALASKA JUNCTION,2008,1,4,1,2008-01-04
4,5,ALASKA JUNCTION,2008,1,5,2,2008-01-05

In [ ]:
# Define dropdown selection for species
mcpp_dropdown = alt.binding_select(options=sorted(list(checkoutSumByMCPP.mcpp.unique())))
mcpp_select = alt.selection_single(fields=['mcpp'], bind=mcpp_dropdown, name='Area (MCPP)')

# Scatter plot of petal length vs. petal width
offense_plot = alt.Chart(checkoutSumByMCPP).mark_line().encode(
    alt.X('date:T', title='Offense Date'),
    alt.Y('sum(offense):Q', title='Offense Count'),
    #alt.Color('UsageClass:N', title='Usage Class'),
    #tooltip=['offense:N', 'crime_against_category:N', 'offense_parent_group:N']
).add_selection(
    mcpp_select
).transform_filter(
    mcpp_select
).properties(
    width=600,
    height=400
)

# Combine the scatter plot and histogram into a single chart
chart = alt.hconcat(offense_plot)

chart.properties(title='Offense Dataset by Area (MCPP)')

In [ ]:
# Scatter plot of petal length vs. petal width
offense_plot = alt.Chart(checkoutSumByMCPP).mark_bar().encode(
    alt.X('mcpp:N', title='MCPP'),
    alt.Y('sum(offense):Q', title='Offense Count'),
    #alt.Color('UsageClass:N', title='Usage Class'),
    #tooltip=['offense:N', 'crime_against_category:N', 'offense_parent_group:N']
).properties(
    width=600,
    height=400
)

# Combine the scatter plot and histogram into a single chart
chart = alt.hconcat(offense_plot)

chart.properties(title='Offense Dataset by Area (MCPP)')

In [ ]:
# Define dropdown selection for species
year_dropdown = alt.binding_select(options=sorted(list(checkoutSumByMCPP.report_year.unique())))
year_select = alt.selection_single(fields=['report_year'], bind=year_dropdown, name='Year')

# Scatter plot of petal length vs. petal width
offense_plot = alt.Chart(checkoutSumByMCPP).mark_bar().encode(
    alt.X('mcpp:N', title='MCPP'),
    alt.Y('sum(offense):Q', title='Offense Count'),
    #alt.Color('UsageClass:N', title='Usage Class'),
    #tooltip=['offense:N', 'crime_against_category:N', 'offense_parent_group:N']
).add_selection(
    year_select
).transform_filter(
    year_select
).properties(
    width=600,
    height=400
)

# Combine the scatter plot and histogram into a single chart
chart = alt.hconcat(offense_plot)

chart.properties(title='Offense Dataset by Area (MCPP)')

In [ ]:
# Scatter plot of petal length vs. petal width
offense_plot = alt.Chart(checkoutSumByMCPP).mark_line().encode(
    alt.X('report_year:T', title='Report Year'),
    alt.Y('sum(offense):Q', title='Offense Count'),
    alt.Color('mcpp:N', title='MCPP'),
    #tooltip=['offense:N', 'crime_against_category:N', 'offense_parent_group:N']
).properties(
    width=600,
    height=400
)

# Combine the scatter plot and histogram into a single chart
chart = alt.hconcat(offense_plot)

chart.properties(title='Offense Dataset by Area (MCPP)')